.card {
  background-color: #444;
  color: white;
  border-radius: 10px;
}

.card-header {
  border-bottom: none;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.card-title {
  margin-bottom: 20px;
}

.log-window {
  background-color: black;
  overflow-y: scroll;
  height: 300px;
}

.log-entry {
  font-size: 14px;
}


.btn-primary {
  width: 100px;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  background-color: #666666;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
}
.btn-primary:hover {
  background-color: lightgray;
}
  
  
  