
.thing-container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.thing {
    flex: 0 0 calc(33.33% - 20px);
    width: fit-content;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20%;
    background-color: white;
}

.thing-attributes {
    display: none;
    color: black;
    align-content: center;
}

.thing-name{
    font-size: 20px;
    color: black;
    text-align: center;
}
.thing-icon{
    width: 120px;
    display: block;
    margin: auto;
}

.close-icon{
    width: 50px;
    margin: auto;
    display: block;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: lightgray;
}

.properties-input{
    width: 50px;
    display: inline-block;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #888888;
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
}
.thing-properties{
    display: inline-block;
    font-size: 16px;
}